<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.samsung.itschool.a311_practical_work">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/it_academy_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/it_academy_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.311_practical_work">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.311_practical_work.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>